{{ $icon := resources.Get "img/clang.png" }}
{{ if $icon }}
  {{ $apple := $icon.Resize "180x180" }}
  {{ $favicon32 := $icon.Resize "32x32" }}
  {{ $favicon16 := $icon.Resize "16x16" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
{{ else }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
{{ end }}
